<% @carts.each do |cart| %>
	<div class="col-md-3 col-sm-2 col-xs-4">
	  <div class="products">
	    <div class="content">
	      <a class="productname"><%= cart.product_id %></a>
	    </div>
	    <h4 class="price"><%= cart.user_id %></h4>
	  </div>
	</div>
<% end %>